<app-wrapper (back)="back()">
  <ng-template [ngIf]="currentQuestion">
    <app-wrapper-title>
      {{ currentQuestion?.description }}
    </app-wrapper-title>
    <app-wrapper-body>
      <div
        class="col-4 mt-3"
        *ngFor="let option of currentQuestion?.options; let i = index"
      >
        <app-selectable-button
          [(selected)]="option.selected"
          (selectedChange)="changed(i)"
          [color]="option.display_color"
          [icon]="option.display_icon"
          [text]="option.description"
        ></app-selectable-button>
      </div>
    </app-wrapper-body>
    <app-wrapper-footer>
      <button class="button_app greenish" (click)="next()" *ngIf="selected.length > 0">OK</button>
      <!-- reportService.currentReport.id && -->
      <button class="button_app" (click)="snooze()" *ngIf="
        reportService.currentReport?.remind_again_times > reportService.currentReport?.reminder_shown_times &&
        pastQuestions?.length === 0 &&
        selected.length === 0">Snooze</button>
    </app-wrapper-footer>
  </ng-template>
  <ng-template [ngIf]="confirmation">
    <app-wrapper-title>
      {{ confirmation }}
    </app-wrapper-title>
    <app-wrapper-footer>
      <div class="button_app" (click)="send()" >{{ 'Question.Send' | translate }}</div>
    </app-wrapper-footer>
  </ng-template>
</app-wrapper>
