<div class="container mt-3">
  <h2>Ask your question</h2>
  <div class="row">
    <div class="col">
      <form [formGroup]="questionForm">
        <div class="form-inline">
          <div class="form-group mr-2 w-75">
            <input class="form-control w-100" formControlName="question" placeholder="Type your question"/>
          </div>
          <select class="form-control mx-2" formControlName="language">
            <option value="nl">Dutch</option>
            <option value="en">English</option>
            <option value="fr">Français</option>
            <option value="it">Italiano</option>
          </select>
          <button class="btn btn-secondary mx-2 " (click)="addAnswer()">+</button>  
        </div>
        
        <ul formArrayName="answers" class="list-group mt-3">
          <li class="list-group-item" *ngFor="let ansewer of answers.controls; let i = index">
            <input class="form-control" [formControlName]="i" placeholder="Possible answer"/>
          </li>
        </ul>
        <button class="btn btn-primary mt-2 " (click)="send()">Send</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col mt-3">
      <h3>Message History</h3>
    </div>
    <div class="col-12" *ngFor="let message of messageHistory">
      <pre>{{ message | json }}</pre>
    </div>
  </div>
</div>
