.answer {
  height: 270px;
  background: radial-gradient(
    circle,
    rgba(0, 255, 128, 1) 0%,
    rgba(44, 200, 143, 1) 60%,
    rgba(14, 79, 55, 1) 100%
  );
  font-size: 30px;
}

.senior-wrapper {
  min-height: calc(100vh - 1rem - 40px);
  background-position: center;
  background-size: cover;
  transition: background-image 0.2s ease-in-out;
}
