<div class="row">
  <div class="col-12">
    <div class="main_title_app myrow with_margin_top">
      Hello name_senior, during name_meal it is time for your medication.
    </div>
    <div class="sub_title_app myrow">
      The following medication should have been taken. Could you indicate which
      medication you have taken?
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12 offset-0 col-md-9 offset-md-1">
    <div class="myrow sample_list with_margin_top_bottom extra_margin_top">
      <div class="single_list myrow">
        <div class="name_list">name medication</div>
        <div class="action_list">
          <div class="response_list ok">
            <i class="fa fa-check" aria-hidden="true"></i>
          </div>
          <div class="response_list not_ok">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="single_list myrow">
        <div class="name_list">name medication</div>
        <div class="action_list">
          <div class="response_list ok">
            <i class="fa fa-check" aria-hidden="true"></i>
          </div>
          <div class="response_list not_ok">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="myrow action_button with_margin_top">
      <div class="button_app">I’ve not taken my medication</div>
      <div class="button_app">I’ve taken my medication</div>
    </div>
  </div>
</div>
