<div class="senior-wrapper" [style.background-image]="'url(' + img + ')'">
  <div *ngIf="question" class="container">
    <section class="text-center p-5">
      <h1 class="px-2 py-1 bg-light rounded-pill display-4 font-weight-bold">
        {{ question.question }}
      </h1>
    </section>

    <section class="d-flex flex-row flex-wrap justify-content-center">
      <button
        (click)="sendAnswer(answer)"
        *ngFor="let answer of question.answers"
        class="answer btn btn-success p-5 m-2 col-md-3 rounded-circle"
      >
        {{ answer }}
      </button>
    </section>
  </div>
  <div *ngIf="thankyou" class="container">
    <section class="text-center p-5">
      <h1 class="px-2 py-1 bg-light rounded-pill display-4 font-weight-bold">
        Thank you
      </h1>
    </section>
  </div>
</div>
