<router-outlet></router-outlet>
<div class="mqtt-status" [ngSwitch]="mqttStatus | async">
  <ng-container *ngSwitchCase="'CONNECTED'">
    <i class="fas fa-circle" [style.color]="'green'"></i>
  </ng-container>
  <ng-container *ngSwitchCase="'CLOSED'">
    <i class="fas fa-circle" [style.color]="'red'"></i>
  </ng-container>
  <ng-container *ngSwitchCase="'CONNECTING'">
    <i class="fas fa-circle" [style.color]="'yellow'"></i>
  </ng-container>
  <i class="fas fa-circle" [style.color]="'yellow'" *ngSwitchDefault></i>
</div>