.end {
  background-color: #4F4F4F;
}
.button_app {
  cursor: pointer;
  display: inline-block;
  &.home {
    width: auto;
    padding: 25px 25px 25px 80px;
    color: #fff;
    border-radius: 0;
    z-index: 2;
    position: relative;
    border-left: 1px solid #fff;
    font-size: 1.2rem;
    font-weight: 700;

    span {
      font-size: 2rem;
      line-height: 2rem;
      font-weight: 700;
      position: absolute;
      top: 17px;
      left: 20px;
    }
  }
}

.sleep {
  height: 100%;
  display: inline-block;
  width: unset;
  padding: 20px;
  cursor: pointer;
  a {
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 3px;
    padding: 12px;
    .fas {
      cursor: pointer;
      font-size: 20px;
      color: white;
    }
  }
}